<aside class="sidebar">
    <ul class="nav">
        <li><a href="/dashboard"><i class="fas fa-dashboard"></i>Dashboard</a></li>
        <li><a href="/dashboard/products"><i class="fas fa-tshirt"></i>Products</a></li>
        <li><a href="/dashboard/orders"><i class="fas fa-box"></i>Orders</a></li>
        <li><a href="/dashboard/returns"><i class="fas fa-undo"></i>Returns</a></li>
        <li><a href="/dashboard/users"><i class="fas fa-user"></i>Users</a></li>
        <li><a href="/dashboard/settings"><i class="fas fa-tools"></i>Settings</a></li>
       <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
</aside>
