<aside class="sidebar">
    <ul class="nav">
        <li><a href="/account/orders"><i class="fas fa-box"></i>Recent Orders</a></li>
        <li><a href="/account/returns"><i class="fas fa-undo"></i>Recent Returns</a></li>
        <li><a href="/account/favorites"><i class="fas fa-heart"></i>Favorite Products</a></li>
        <li><a href="/account/details"><i class="fas fa-user-circle"></i>Personal Details</a></li>
        <li><a href="/account/settings"><i class="fas fa-cog"></i>Account Settings</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
</aside>
