<!DOCTYPE html>
<html>
<head>
    <title>Server Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/out-header', {title: 'Home Page'}) %>
    <div class="error-page">
        <h1>Error 500! Internal Server Issue</h1>
        <p>Sorry, something went wrong on our end.</p>
        <p>Please try again later.</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
