<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header', {title: 'Home Page'}) %>
    <h1>Welcome to the BAE Home Page!</h1>
    <%- include('partials/footer') %>
</body>
</html>
