<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="comingsoon-background">
    <% if (isAdmin) { %>
        <%- include('partials/adminheader', {title: title}) %>
    <% } else { %>
        <%- include('partials/header', {title: title}) %>
    <% } %>
    <!-- <h1>Welcome to the BAE-Store Homepage!</h1>
    <p>Nothing to show yet.</p> -->
    <%- include('partials/footer') %>
</body>
</html>
