<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header', {title: 'Login'}) %>
    <h2>Login</h2>
    <form action="/login" method="POST">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        <div class="form-actions">
            <button type="submit" class="login-button">Login</button>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </form>
    <%- include('partials/footer') %>
</body>
</html>
