/* styles.css */

/*General*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F2;
  color: #252520;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
input[type="text"], input[type="password"], input[type="email"] {
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 8px;
  height: 50px;
  font-size: small;
  width: 100%;
}
input[disabled], input[readonly] {
  background-color: #e0e0e0;
  color: #686868;
  cursor: not-allowed;
}
button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  width: 100%;
  margin: 25px 0px;
}
main {
  padding: 20px;
  width: 970px;
}
.container {
  display: flex;
  margin: 0px 250px;
}
.pack  {
  display: flex;
  gap: 20px;
}
.alert-success {
  color: #34A853;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.alert-fail {
  color: #EA4335;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Login & Register Pages*/
.login-form, .register-form {
  border-radius: 8px;
  margin: 100px auto;
  width:
}
.login-form h1, .register-form h1 {
  text-align: center;
  padding-bottom: 20px;
}
.login-form p, .register-form p {
  padding-bottom: 20px;
  font-weight: bold;
}
.login-button, .register-button {
  color: white;
  background-color: #34A853;
  height: 45px;
  font-size: small;
}
.login-button:hover, .register-button:hover {
  background-color: #2b9a49;
}

/*Headers, Footers*/
header {
  background-image: linear-gradient(to bottom right, #fe8a1f, #fc9434);
  text-align: center;
}
footer {
  background-image: linear-gradient(to bottom right, #fe8a1f, #fc9434);
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}
.logo, .out-logo {
  width: 70px;
  height: auto;
  padding-top: 15px;
  display: inline;
}

/*Navigators & Sidebars*/
.nav-tabs-position {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 0px 10px 10px 30px;
}
.nav-tabs ul {
  list-style: none;
  justify-content: center;
}
.nav-tabs a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.nav-tabs a:hover {
  border-bottom: 3px solid #252520;
}
.sidebar {
  width: 200px;
  padding-top: 100px;
  flex: 0 0 auto;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar i {
  margin-right: 5px; 
}
.sidebar a {
  color: #252520;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.sidebar a:hover {
  color: #fc9434;
}

/* Profile Details Page*/
.account-details-form {
  padding: 10px 10px 100px 10px;
  align-items: center;
}
.account-details-form input {
  width: 50%;
}
.account-details-form p {
  color: #252520;
  line-height: 2;
}
.update-details-button {
  color: white;
  background-color: #34A853;
  width: calc(50% - 10px);
  height: 45px;
  font-size: small;
}
.update-details-button:hover {
  background-color: #2b9a49;
}
.alert-success-updating {
  padding-top: 55px;
  padding-left: 10px ;
  color: #34A853;
  text-transform: uppercase;
  font-weight: bold;
}
.delete-account-button {
  color: white;
  background-color: #EA4335;
  width: calc(50% - 10px);
  height: 45px;
  font-size: small;
  margin-top: 13px;
}
.delete-account-button:hover {
  background-color: #de2514;
}
.alert-fail-deleting {
  color: #EA4335;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/*Background Video*/
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
      height: 300%;
      top: -100%;
  }
}

/* Error 404 & 500*/
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 38vh;
}
.error-page h1 {
  color: #EA4335;
}
.error-page p, .error-page ul {
  color: #252520;
  line-height: 1.6;
}

/*Producst Page*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product-card {
  width: 281px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  margin:10px;
  text-align: center;
}
.product-card .brand-icon {
  display: flex;
  align-items: end;
  max-width: 50px;
  max-height: 50px;
  padding-left: 10px;
}
.product-card .product-image {
  max-width: 250px;
  max-height: 250px;
}
.product-card h4 {
  margin-bottom: 10px;
}
.product-card p {
  margin-bottom: 10px;
}
.available {
  color: #34A853;
}
.not-available {
  color: #EA4335;
}
.available-sizes {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.size-option {
  padding: 10px 10px;
  background-color: #F5F5F2;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}
.size-option.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.size-option.selected {
  border-color: #fc9434;
  color: white;
  background-color: #fc9434;
}
.size-option:hover {
  border-color: #fc9434;
  background-color: #fc9434;;
  color: white;
}
.addtocart-button button {
  background-color: #34A853;
  color: white;
  text-transform: uppercase;
  width: 250px;
  height: 45px;
  font-size: small;
}
.addtocart-button button:hover {
  background-color: #2b9a49;
}
.addtocart-button button[disabled] {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}