/* styles.css */

/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F2;
  /* margin: 0;
  padding: 0px; */
  color: #252520;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the footer is at the bottom of the page */
}
form input {
  border-radius: 8px;
  height: 50px;
}
button {
  border: none;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 8px;
}

/* Login & Register */
.login-form, .register-form {
  border-radius: 8px;
  margin: 50px auto; /* Centers the form */
  padding: 0 40px 0 40px;
  width: 675px; /* Adjust width to fit your design preference */
}
.login-form h1, .register-form h1 {
  text-align: center;
  padding-bottom: 20px;
}
.login-form p, .register-form p {
  padding-bottom: 20px;
  font-weight: bold;
}
.login-button, .register-button {
  color: white;
  background-color: #34A853;
  width: 595px;
  height: 45px;
}
.login-button:hover, .register-button:hover {
  background-color: #2b9a49;
}

/* Profile Details*/
.account-details-form {
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto; /* Centers the form */
  width: 90%; /* Adjust width to fit your design preference */
  max-width: 1500px; /* Maximum width */
}

input[type="text"], input[type="password"], input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.update-details-button {
  color: white;
  background-color: #34A853;
  width: 410px;
  height: 45px;
}
.delete-account-button {
  color: white;
  background-color: #EA4335;
  width: 410px;
  height: 45px;
}

.delete-account-button:hover {
  background-color: #de2514;
}
.update-details-button:hover {
  background-color: #2b9a49;
}

input[disabled], input[readonly] {
  background-color: #e0e0e0;
  color: #686868;
  cursor: not-allowed;
}

footer {
  background-image: linear-gradient(to bottom right, #fe8a1f, #fc9434);
  color: white;
  padding: 10px 0;
  text-align: center;
}

header {
  background-image: linear-gradient(to bottom right, #fe8a1f, #fc9434);
  /* padding: 10px 0; */
  text-align: center;
}

.logo, .out-logo {
  width: 70px;
  height: auto;
  padding-top: 15px;
  
  display: inline;
}

/* .nav-tabs {
  width: 20%;
  display: inline;
  
} */

.nav-pos {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 0px 10px 10px 30px;
}

/* Navigation Tabs */
.nav-tabs-left ul {
  list-style: none;
  justify-content: center;
  
}

.nav-tabs-right ul {
  list-style: none;
  justify-content: center;
}

.nav-tabs-left a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease;
}

.nav-tabs-left a:hover {
  border-bottom: 3px solid #252520;
}

.nav-tabs-right a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease;
}

.nav-tabs-right a:hover {
  border-bottom: 3px solid #252520;
}


footer {
  margin-top: auto;
}

main {
  flex: 1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind other content */
  overflow: hidden;
}

.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure the video doesn't block interactions with other elements */
  /* filter: blur(10px); */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f2ef;
}

.pack {
  display: flex;
  gap: 20px;
}

@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
      height: 300%;
      top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-background iframe {
      width: 300%;
      left: -100%;
  }
}

/*New 2*/

/* Layout styles for main content and sidebar */
.container {
  display: flex; /* Establishes a flex container */
}

.sidebar {
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  width: 350px; /* Set width of the sidebar */
  /* padding: 20px; */
}

.main-content {
  flex: 1; /* Takes up the remaining space */
  padding: 20px;
}

.nav {
  list-style-type: none; /* Removes bullets from list */
  padding-top: 100px;
  padding-left: 175px;
}

.nav li {
  margin-bottom: 10px; /* Space between links */
}

/* Navigation link styles */
.nav a {
  color: #252520; /* Dark text for readability */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease; /* Smooth transition for background */
  display: block; /* Makes the entire area clickable */
  padding: 10px; /* Padding for better touch target size */
  /* padding-left: 175px; */
}

.nav a:hover {
  color: #fc9434;
}

/* .nav .active {
  background-color: #4285F4; 
  color: white;
} */


/* Styles for responsive design */
@media (max-width: 768px) {
  .container {
      flex-direction: column; /* Stack sidebar and main content on smaller screens */
  }
  .sidebar {
      width: 100%; /* Full width for the sidebar on small screens */
  }
}

.nav i {
  margin-right: 5px; /* Space between icon and text */
}

/* Error Page Specific Styles */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 38vh;
}

.error-page h1 {
  color: #EA4335;
}

.error-page p, .error-page ul {
  color: #666;
  line-height: 1.6;
}

.error-page a {
  display: inline-block;
  background-color: #EA4335;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.error-page a:hover {
  background-color: #EA4335;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adds space between each row */
}

.form-column {
  flex: 1; /* Each column takes up an equal amount of space */
  margin-right: 10px; /* Adds some space between the columns */
}

.form-column:last-child {
  margin-right: 0; /* Removes margin from the last column in each row */
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%; /* Ensures input fields take up the entire column width */
}

.alert-success-updating {
  color: #34A853;
}

.alert-fail-deleting {
  color: #EA4335;
}

.alert-success {
  color: #34A853;
  padding-top: 20px;
  text-align: center;
}

.alert-fail {
  color: #EA4335;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  padding-right: 175px;
}

.product-card {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.product-card .brand {
  float: left;
  max-width: 15%;
  height: auto;
  padding-left: 10px;
  margin-right: 10px;
}

.product-card .item {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto;
  clear: left;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card {
  overflow: hidden; /* Ensures the container clears the floated elements */
  margin-bottom: 20px; /* Adds space between product cards */
}

.basket-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.size-options {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.size-option {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  text-align: center;
  margin-bottom: 20px;
}

.size-option.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.size-option.selected {
  border-color: #000;
  font-weight: bold;
}

.basket-form button {
  padding: 10px 85px;
  background-color: #fc9434;
  color: white;
}


.fav-item button {
  display: flex;
  padding: 10px 15px;
  background-color: #EA4335;
  color: white;
  margin-left: 10px;
}

.sub-buttons {
  display: flex;
}

.basket-form button:hover {
  background-color: #34A853;
}

.basket-form input[disabled], .basket-form button[disabled] {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

/* Availability */
.available {
  color: #34A853;
}

.not-available {
  color: #EA4335;
}
